body {
    background:url(../img/background.png) no-repeat center top;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -ms-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    }